.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;;
}
.container2 {
  height: 80vh;
  width: 150vh;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
}
.res{
  margin: 5%;
  flex-wrap: wrap;
  overflow-y: scroll;
}
